<h1>Users#show</h1>

<div>
  <h3><%= @user.name %></h3>
  <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
</div>

<% @items.each do |item| %>
  <div>
    <p>商品名: <%= link_to item.title, item_path(item.id) %></p>
    <p>説明: <%= item.body %></p>
  </div>
<% end %>