<body>

<section class="border-top">
<div class="container py-lg-1">
  <span><%= link_to '野菜', items_path %></span>
  <span><%= link_to '価格', prices_path %></span>
</div>
</section >





  <div class="content">
    <p>ゲストでも閲覧可能にする</p>
  </div>

</body>