<h2>item</h2>

<li>
  <%= link_to "投稿", new_item_path %>
</li>

<% @item.each do |item| %>
  <p>商品名</p>
  <span><%= link_to item.title, item_path(item.id) %></span>
  <p>説明</p>
  <span><%= item.body %></span>
<% end %>