<h2>show</h2>

<div>
  <p>商品名: <%= link_to @item.title, item_path(@item.id) %></p>
  <p>説明: <%= @item.body %></p>
  <% if @item.user == current_user %>
    <%= link_to "Edit", edit_item_path(@item.id), method: :get, class: "btn btn-sm btn-success" %>
    <%= link_to "Destroy", item_path(@item.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger" %>
  <% end %>
</div>